/* @media only screen and (max-width: 768px)
{
  .main {
    width: 100%;
  }

  nav {
    width: 100%;
  }

  #menu_content {
    display: none;
  }

  #intro {
    width: 100%;
  }

  #work_title img {
    width: 90%;
    margin-left: 24px;
    margin-right: 24px;
  }

  .work_main {
    margin: auto;
    width: 100%;
  }

  #work {
    width: 100%;
    padding: 24px;
  }

  .b {
    width: 100%;
    margin: 0;
  }

  #work_info {
    margin-top: 24px;
  }

  #cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
  }

  .work_project {
    margin: 24px 0 0 0;
  }

  .visible {
    display: grid;
    position: relative;
  }

  .visible button {
    bottom: 0;
    position: absolute;
    right: 0;
  }

  #about_me {
    width: 100%;
  }

  #contact_form {
    width: 100%;
  }

  footer {
    width: 100%;
  }
}

/* For tabs */

 /*@media only screen and (min-width: 600px) {

  #cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }
}






 */
